Repository clara-parabricks/GenomeWorks, pull requests merged in 2019-12, with the labels that each got.

#241 [cudamapper] index_gpu: Remove the new_value_mask stage
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/tests/Test_CudamapperIndexGPU.cu
Labels: cudamapper, enhancement

#248 [pyclaragenomics] Fix wheel liblogging linkage issue occurred in cp3.5
  pyclaragenomics/setup.py
Labels: bug, pyclaragenomics

#219 [cudaaligner] Added pairing string to FormattedAlignment
  cudaaligner/CMakeLists.txt
  cudaaligner/include/claragenomics/cudaaligner/alignment.hpp
  cudaaligner/samples/sample_cudaaligner.cpp
  cudaaligner/src/alignment.cpp
  cudaaligner/src/alignment_impl.cpp
  cudaaligner/src/alignment_impl.hpp
  cudaaligner/tests/Test_AlignmentImpl.cpp
  pyclaragenomics/claragenomics/bindings/cudaaligner.pxd
  pyclaragenomics/claragenomics/bindings/cudaaligner.pyx
Labels: cudaaligner

#258 [ci] nvidia-docker2 runtime is depricated since 19.3.0.
  ci/local/build.sh
Labels: CI

#259 [CI] Installs only flake8 and not all Python requirements for the style check
  ci/checks/style.sh
Labels: CI

#255 [cudamapper] Filtering out most common representations
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/src/index.cu
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/main.cu
  cudamapper/src/matcher_gpu.cu
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperMatcherGPU.cu
Labels: cudamapper, enhancement

#262 [cudamapper] No device shrink_to_fit in Index
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
Labels: cudamapper, enhancement

#251 [cudamapper] Perf improvements for cudamapper
  .gitmodules
  cmake/3rdparty.cmake
  cmake/CUDA.cmake
  common/io/src/hts_fasta_parser.cpp
  common/io/src/hts_fasta_parser.hpp
  cudamapper/CMakeLists.txt
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/include/claragenomics/cudamapper/types.hpp
  cudamapper/src/main.cu
  cudamapper/src/minimizer.cu
  cudamapper/src/overlapper.cpp
  cudamapper/src/overlapper_triggered.cu
  pyclaragenomics/bin/evaluate_paf
  pyclaragenomics/requirements.txt
Labels: cudamapper, enhancement

#268 [pyclaragenomics] Add Cython style check
  README.md
  ci/checks/style.sh
  pyclaragenomics/.flake8.cython
  pyclaragenomics/claragenomics/bindings/cuda.pyx
  pyclaragenomics/claragenomics/bindings/cuda_runtime_api.pxd
  pyclaragenomics/claragenomics/bindings/cudaaligner.pxd
  pyclaragenomics/claragenomics/bindings/cudaaligner.pyx
  pyclaragenomics/claragenomics/bindings/cudapoa.pxd
  pyclaragenomics/claragenomics/bindings/cudapoa.pyx
  pyclaragenomics/claragenomics/bindings/graph.pxd
  pyclaragenomics/style_check
Labels: pyclaragenomics, style
