Repository clara-parabricks/GenomeWorks, pull requests merged in 2019-11, with the labels that each got.

#216 [cudamapper] New Index and Matcher implementation
  cudamapper/CMakeLists.txt
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/include/claragenomics/cudamapper/index_two_indices.hpp
  cudamapper/include/claragenomics/cudamapper/matcher_two_indices.hpp
  cudamapper/src/index_gpu.cuh
  cudamapper/src/index_gpu_two_indices.cu
  cudamapper/src/index_gpu_two_indices.cuh
  cudamapper/src/index_two_indices.cu
  cudamapper/src/matcher_gpu.cu
  cudamapper/src/matcher_gpu.cuh
  cudamapper/src/matcher_two_indices.cu
  cudamapper/tests/CMakeLists.txt
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperIndexGPUTwoIndices.cu
  cudamapper/tests/Test_CudamapperMatcher.cu
  cudamapper/tests/Test_CudamapperMatcherGPU.cu
Labels: cudamapper, enhancement

#226 [cudamapper] IndexTwoIndices accepts hash_representations paramater
  cudamapper/include/claragenomics/cudamapper/index_two_indices.hpp
  cudamapper/src/index_gpu_two_indices.cuh
  cudamapper/src/index_two_indices.cu
  cudamapper/tests/Test_CudamapperIndexGPUTwoIndices.cu
Labels: cudamapper, enhancement

#225 [CI] Use for loop insetad of find -exec to catch tests errors
  ci/common/build-test-sdk.sh
Labels: CI

#229 [cudamapper] Using new index/matcher
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/src/main.cu
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
  cudamapper/tests/mock_index.cuh
Labels: cudamapper, enhancement

#231 [cudamapper] Remover old index and matcher implementations
  cudamapper/CMakeLists.txt
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/src/index.cu
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/main.cu
  cudamapper/src/matcher.cu
  cudamapper/src/matcher.hpp
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/tests/CMakeLists.txt
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperMatcher.cu
Labels: cudamapper, enhancement

#232 [cudamapper] Renamed new index and matcher
  cudamapper/CMakeLists.txt
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/include/claragenomics/cudamapper/matcher.hpp
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/include/claragenomics/cudamapper/sketch_element.hpp
  cudamapper/src/cudamapper_utils.hpp
  cudamapper/src/index.cu
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/index_two_indices.cu
  cudamapper/src/main.cu
  cudamapper/src/matcher.cu
  cudamapper/src/matcher_gpu.cu
  cudamapper/src/matcher_gpu.cuh
  cudamapper/src/minimizer.hpp
  cudamapper/src/overlapper.cpp
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/src/sequence.cpp
  cudamapper/tests/CMakeLists.txt
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperMatcherGPU.cu
  cudamapper/tests/mock_index.cuh
Labels: cudamapper, enhancement

#233 [pyclaragenomics] Fix setup --build_output_folder relative path issue
  ci/common/test-pyclaragenomics.sh
  pyclaragenomics/setup_pyclaragenomics.py
Labels: pyclaragenomics

#236 [pyclaragenomics] Refactor path resolution in setup script
  pyclaragenomics/setup_pyclaragenomics.py
Labels: pyclaragenomics

#238 [pyclaragenomics] Create wheel package from pyclaragenomics
  CMakeLists.txt
  ci/common/test-pyclaragenomics.sh
  pyclaragenomics/LICENSE
  pyclaragenomics/README.md
  pyclaragenomics/setup.py
  pyclaragenomics/setup_pyclaragenomics.py
Labels: pyclaragenomics
