Repository clara-parabricks/GenomeWorks, pull requests merged in 2019-09, with the labels that each got.

#134 [cudamapper] Merge index subarrays on GPU
  cudamapper/data/aaaactgaa_gccaaag.fasta
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/tests/Test_CudamapperIndexGPU.cu
Labels: cudamapper, enhancement

#137 [cudamapper] Fixes issue #133
  cudamapper/CMakeLists.txt
  cudamapper/src/main.cpp
  cudamapper/src/matcher.cu
  cudamapper/src/overlapper_triggered.cpp
  cudamapper/tests/CMakeLists.txt
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
  cudamapper/tests/Test_PAF_generator.cu
Labels: bug, cudamapper

#145 [cudamapper] Default constructor for Anchor
  cudamapper/include/cudamapper/types.hpp
  cudamapper/src/index_gpu.cuh
  cudamapper/src/matcher.cu
Labels: cudamapper, enhancement, regression

#151 [cudamapper] Added command line options
  cudamapper/include/cudamapper/index.hpp
  cudamapper/src/main.cpp
Labels: cudamapper, enhancement

#143 [cudamapper] gpu port of overlapper module
  cudamapper/CMakeLists.txt
  cudamapper/include/cudamapper/overlapper.hpp
  cudamapper/include/cudamapper/types.hpp
  cudamapper/src/matcher.cu
  cudamapper/src/matcher.hpp
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
Labels: cudamapper, enhancement

#149 [cudamapper] Added setting of relative strand
  cudamapper/include/cudamapper/types.hpp
  cudamapper/src/cudamapper_utils.cpp
  cudamapper/src/overlapper.cpp
  cudamapper/src/overlapper_naive.cpp
  cudamapper/src/overlapper_naive.hpp
  cudamapper/src/overlapper_triggered.cu
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
Labels: cudamapper, enhancement

#154 [cudamapper] install app into bin
  cudamapper/CMakeLists.txt
Labels: cudamapper
