Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-10, with the labels that each got.

#564 [cudaextender] Add CUDA Extender module with Ungapped X-Drop extension
  CMakeLists.txt
  ci/checks/check_copyright.py
  cudaextender/CMakeLists.txt
  cudaextender/data/CMakeLists.txt
  cudaextender/data/cudaextender_file_location.hpp.in
  cudaextender/data/sample.fa
  cudaextender/data/sample_scored_segment_pairs.csv
  cudaextender/data/sample_seed_pairs.csv
  cudaextender/include/claraparabricks/genomeworks/cudaextender/cudaextender.hpp
  cudaextender/include/claraparabricks/genomeworks/cudaextender/extender.hpp
  cudaextender/include/claraparabricks/genomeworks/cudaextender/utils.hpp
  cudaextender/samples/CMakeLists.txt
  cudaextender/samples/sample_cudaextender.cpp
  cudaextender/src/cudaextender.cpp
  cudaextender/src/extender.cpp
  cudaextender/src/ungapped_xdrop.cu
  cudaextender/src/ungapped_xdrop.cuh
  cudaextender/src/ungapped_xdrop_kernels.cu
  cudaextender/src/ungapped_xdrop_kernels.cuh
  cudaextender/tests/CMakeLists.txt
  cudaextender/tests/Test_CudaextenderEnd2End.cu
  cudaextender/tests/main.cpp
Labels: cudaextender

#573 [cudapoa] Traceback Buffer
  cudapoa/include/claraparabricks/genomeworks/cudapoa/batch.hpp
  cudapoa/include/claraparabricks/genomeworks/cudapoa/cudapoa.hpp
  cudapoa/include/claraparabricks/genomeworks/cudapoa/utils.hpp
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/allocate_block.hpp
  cudapoa/src/application_parameters.cpp
  cudapoa/src/application_parameters.hpp
  cudapoa/src/batch.cu
  cudapoa/src/cudapoa_batch.cuh
  cudapoa/src/cudapoa_kernels.cuh
  cudapoa/src/cudapoa_limits.hpp
  cudapoa/src/cudapoa_nw.cuh
  cudapoa/src/cudapoa_nw_adaptive_banded.cuh
  cudapoa/src/cudapoa_nw_banded.cuh
  cudapoa/src/cudapoa_nw_tb_banded.cuh
  cudapoa/src/cudapoa_structs.cuh
  cudapoa/src/main.cpp
  cudapoa/src/utils.cu
  cudapoa/tests/Test_CudapoaNW.cu
  pygenomeworks/genomeworks/cudapoa/cudapoa.pxd
  pygenomeworks/genomeworks/cudapoa/cudapoa.pyx
Labels: cudapoa, enhancement

#589 [cudaextender] Add and update READMEs
  README.md
  cudaextender/README.md
  cudaextender/include/claraparabricks/genomeworks/cudaextender/utils.hpp
Labels: cudaextender

#523 [cudamapper] Overlap index fetching with overlap computation
  common/base/include/claraparabricks/genomeworks/types.hpp
  common/base/include/claraparabricks/genomeworks/utils/allocator.hpp
  common/base/include/claraparabricks/genomeworks/utils/cudasort.cuh
  common/base/include/claraparabricks/genomeworks/utils/device_preallocated_allocator.cuh
  cudamapper/include/claraparabricks/genomeworks/cudamapper/index.hpp
  cudamapper/samples/sample_cudamapper.cpp
  cudamapper/src/index.cu
  cudamapper/src/index_cache.cu
  cudamapper/src/index_cache.cuh
  cudamapper/src/index_gpu.cuh
  cudamapper/src/index_host_copy.cu
  cudamapper/src/index_host_copy.cuh
  cudamapper/src/main.cu
  cudamapper/src/matcher_gpu.cu
  cudamapper/tests/Test_CudamapperIndexCache.cu
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperMatcherGPU.cu
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
Labels: cudamapper

#592 [logging] fix spdlog incompatibility with gcc9
  CMakeLists.txt
  common/base/include/claraparabricks/genomeworks/logging/logging.hpp
  cudamapper/CMakeLists.txt
  cudamapper/samples/CMakeLists.txt
Labels: sdk
