Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-04, with the labels that each got.

#348 [common] CachingDeviceAllocator: Change the default-construction behavior
  common/utils/include/claragenomics/utils/allocator.hpp
  common/utils/include/claragenomics/utils/device_preallocated_allocator.cuh
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperMatcherGPU.cu
  cudamapper/tests/Test_CudamapperMinimizer.cpp
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
Labels: enhancement, sdk

#336 [cudamapper] Overlap post processing
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/src/main.cu
  cudamapper/src/overlapper.cpp
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
Labels: cudamapper, enhancement

#350 [cudamapper] IndexCacheHost and IndexCacheDevice
  cudamapper/CMakeLists.txt
  cudamapper/data/aagcta.fasta
  cudamapper/data/catcaag.fasta
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/src/index_cache.cu
  cudamapper/src/index_cache.cuh
  cudamapper/src/index_host_copy.cu
  cudamapper/src/index_host_copy.cuh
  cudamapper/tests/CMakeLists.txt
  cudamapper/tests/Test_CudamapperIndexCache.cu
  cudamapper/tests/Test_CudamapperIndexGPU.cu
Labels: cudamapper, enhancement

#327 allowing custom size sequence, graph etc. in cudaPOA
  common/utils/include/claragenomics/utils/genomeutils.hpp
  cudapoa/CMakeLists.txt
  cudapoa/benchmarks/multi_batch.hpp
  cudapoa/benchmarks/single_batch.hpp
  cudapoa/include/claragenomics/cudapoa/batch.hpp
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/allocate_block.cpp
  cudapoa/src/allocate_block.hpp
  cudapoa/src/batch.cpp
  cudapoa/src/cudapoa_add_alignment.cu
  cudapoa/src/cudapoa_batch.cpp
  cudapoa/src/cudapoa_batch.hpp
  cudapoa/src/cudapoa_generate_consensus.cu
  cudapoa/src/cudapoa_generate_msa.cu
  cudapoa/src/cudapoa_kernels.cu
  cudapoa/src/cudapoa_kernels.cuh
  cudapoa/src/cudapoa_nw_banded.cu
  cudapoa/src/cudapoa_topsort.cu
  cudapoa/tests/Test_CudapoaAddAlignment.cpp
  cudapoa/tests/Test_CudapoaBatch.cpp
  cudapoa/tests/Test_CudapoaGenerateConsensus.cpp
  cudapoa/tests/Test_CudapoaGenerateMSA2.cpp
  cudapoa/tests/Test_CudapoaNW.cpp
  cudapoa/tests/Test_CudapoaSerializeGraph.cpp
  pyclaragenomics/claragenomics/bindings/cudapoa.pxd
  pyclaragenomics/claragenomics/bindings/cudapoa.pyx
  pyclaragenomics/setup.py
Labels: cudapoa

#357 Fasta parser shuffle
  common/io/include/claragenomics/io/fasta_parser.hpp
  common/io/src/fasta_parser.cpp
  common/io/src/kseqpp_fasta_parser.cpp
  common/io/src/kseqpp_fasta_parser.hpp
Labels: cudamapper, enhancement

#365 [cudamapper] Clearing device index cache before streams are destroyed
  cudamapper/src/main.cu
Labels: bug, cudamapper

#359 [cga] Renamed cgautils -> cgabase and introduced SDK-wide types
  CMakeLists.txt
  common/base/CMakeLists.txt
  common/base/include/claragenomics/types.hpp
  common/base/include/claragenomics/utils/allocator.hpp
  common/base/include/claragenomics/utils/buffer.hpp
  common/base/include/claragenomics/utils/cudasort.cuh
  common/base/include/claragenomics/utils/cudautils.hpp
  common/base/include/claragenomics/utils/device_buffer.cuh
  common/base/include/claragenomics/utils/device_buffer.hpp
  common/base/include/claragenomics/utils/device_preallocated_allocator.cuh
  common/base/include/claragenomics/utils/exceptions.hpp
  common/base/include/claragenomics/utils/genomeutils.hpp
  common/base/include/claragenomics/utils/graph.hpp
  common/base/include/claragenomics/utils/host_buffer.hpp
  common/base/include/claragenomics/utils/limits.cuh
  common/base/include/claragenomics/utils/mathutils.hpp
  common/base/include/claragenomics/utils/signed_integer_utils.hpp
  common/base/include/claragenomics/utils/stringutils.hpp
  common/base/src/cudautils.cpp
  common/base/tests/CMakeLists.txt
  common/base/tests/TestGraph.cpp
  common/base/tests/Test_GenomeUtils.cpp
  common/base/tests/Test_UtilsCudasort.cu
  common/base/tests/main.cpp
  common/io/CMakeLists.txt
  cudaaligner/CMakeLists.txt
  cudaaligner/benchmarks/CMakeLists.txt
  cudaaligner/tests/CMakeLists.txt
  cudamapper/CMakeLists.txt
  cudamapper/include/claragenomics/cudamapper/types.hpp
  cudamapper/src/main.cu
  cudamapper/src/matcher_gpu.cu
  cudapoa/CMakeLists.txt
  pyclaragenomics/setup.py
Labels: cudamapper, enhancement, sdk

#354 [cudaaligner] Use DefaultDeviceAllocator
  cmake/3rdparty.cmake
  cudaaligner/CMakeLists.txt
  cudaaligner/benchmarks/main.cpp
  cudaaligner/include/claragenomics/cudaaligner/aligner.hpp
  cudaaligner/samples/sample_cudaaligner.cpp
  cudaaligner/src/aligner.cpp
  cudaaligner/src/aligner_global.cpp
  cudaaligner/src/aligner_global.hpp
  cudaaligner/src/aligner_global_hirschberg_myers.cpp
  cudaaligner/src/aligner_global_hirschberg_myers.hpp
  cudaaligner/src/aligner_global_myers.cpp
  cudaaligner/src/aligner_global_myers.hpp
  cudaaligner/src/aligner_global_ukkonen.cpp
  cudaaligner/src/aligner_global_ukkonen.hpp
  cudaaligner/src/batched_device_matrices.cuh
  cudaaligner/src/myers_gpu.cu
  cudaaligner/tests/Test_AlignerGlobal.cpp
  cudaaligner/tests/Test_HirschbergMyers.cu
  cudaaligner/tests/Test_NeedlemanWunschImplementation.cpp
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/src/main.cu
  cudamapper/src/overlapper.cpp
  pyclaragenomics/claragenomics/bindings/cudaaligner.pxd
  pyclaragenomics/claragenomics/bindings/cudaaligner.pyx
Labels: cudaaligner, enhancement

#370 [cudamapper] Grouping reads into indices moved in cudamapper
  common/base/include/claragenomics/types.hpp
  common/io/include/claragenomics/io/fasta_parser.hpp
  common/io/src/fasta_parser.cpp
  common/io/src/kseqpp_fasta_parser.cpp
  common/io/src/kseqpp_fasta_parser.hpp
  cudamapper/CMakeLists.txt
  cudamapper/data/20_reads.fasta
  cudamapper/src/index_cache.cu
  cudamapper/src/index_cache.cuh
  cudamapper/src/index_descriptor.cpp
  cudamapper/src/index_descriptor.hpp
  cudamapper/src/main.cu
  cudamapper/tests/CMakeLists.txt
  cudamapper/tests/Test_CudamapperIndexCache.cu
  cudamapper/tests/Test_CudamapperIndexDescriptor.cpp
Labels: cudamapper, enhancement, sdk

#371 [ci] Use -O2 for debug build
  ci/common/build-test-sdk.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: CI, enhancement

#372 [pyclaragenomics] Respect CUDA_TOOLKIT_ROOT_DIR env variable in setup.py
  pyclaragenomics/setup.py
Labels: enhancement, pyclaragenomics, sdk

#373 [cudaampper] main.cu uses namespace claragenomics::cudamapper
  cudamapper/src/main.cu
Labels: cudamapper, enhancement

#375 [cmake] Combined mapper libraries to libcudamapper
  common/base/tests/CMakeLists.txt
  common/base/tests/Test_UtilsCudasort.cu
  common/config/CMakeLists.txt
  common/logging/CMakeLists.txt
  cudaaligner/CMakeLists.txt
  cudamapper/CMakeLists.txt
  cudamapper/tests/CMakeLists.txt
Labels: cudamapper, enhancement, sdk

#364 [cudaaligner] Banded Myers algorithm + misc improvements
  common/base/include/claragenomics/utils/mathutils.hpp
  cudaaligner/CMakeLists.txt
  cudaaligner/benchmarks/main.cpp
  cudaaligner/src/aligner_global.cpp
  cudaaligner/src/aligner_global_myers_banded.cpp
  cudaaligner/src/aligner_global_myers_banded.hpp
  cudaaligner/src/hirschberg_myers_gpu.cu
  cudaaligner/src/myers_gpu.cu
  cudaaligner/src/myers_gpu.cuh
  cudaaligner/tests/Test_AlignerGlobal.cpp
Labels: bug, cudaaligner, enhancement

#376 [cudamapper] Fix cmake failure.
  cudamapper/CMakeLists.txt
Labels: bug, cudamapper

#378 [cga] Threadsafe containers
  common/base/include/claragenomics/types.hpp
  common/base/include/claragenomics/utils/threadsafe_containers.hpp
  common/base/tests/CMakeLists.txt
  common/base/tests/Test_UtilsThreadsafeContainers.cpp
Labels: enhancement, sdk

#368 [pyclaragenomics] [cudapoa] Issus-356 - Update recent changes to python binding
  pyclaragenomics/claragenomics/bindings/cudapoa.pxd
Labels: cudapoa, pyclaragenomics

#389 [pycga] Fix pyclaragenomics PyPI link
  pyclaragenomics/README.md
Labels: bug, pyclaragenomics

#384 Close the loop on BatchSize in CUDAPoa libraries...
  pyclaragenomics/claragenomics/bindings/cudapoa.pyx
  pyclaragenomics/samples/sample_cudapoa
  pyclaragenomics/test/test_cudapoa_bindings.py
Labels: cudapoa, pyclaragenomics

#374 [cudamapper] Index batching
  cudamapper/CMakeLists.txt
  cudamapper/data/10_reads.fasta
  cudamapper/src/index_batcher.cu
  cudamapper/src/index_batcher.cuh
  cudamapper/tests/CMakeLists.txt
  cudamapper/tests/Test_CudamapperIndexBatcher.cu
Labels: cudamapper, enhancement

#400 [cudamapper] Removed info about reads from Index
  common/io/include/claragenomics/io/fasta_parser.hpp
  common/io/src/kseqpp_fasta_parser.cpp
  common/io/src/kseqpp_fasta_parser.hpp
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/src/index_gpu.cuh
  cudamapper/src/index_host_copy.cu
  cudamapper/src/index_host_copy.cuh
  cudamapper/src/main.cu
  cudamapper/src/overlapper.cpp
  cudamapper/tests/Test_CudamapperIndexCache.cu
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
  cudamapper/tests/mock_fasta_parser.hpp
  cudamapper/tests/mock_index.cuh
Labels: cudamapper, sdk

#395 [cudamapper] Improved IndexCacheHost and IndexCacheDevice
  cudamapper/src/index_cache.cu
  cudamapper/src/index_cache.cuh
  cudamapper/tests/Test_CudamapperIndexCache.cu
Labels: cudamapper, enhancement
