Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-11, with the labels that each got.

#588 [pygw] add alignment visualizer tool
  pygenomeworks/bin/alignment_visualizer
  pygenomeworks/bin/evaluate_paf
  pygenomeworks/requirements.txt
  pygenomeworks/style_check
Labels: pyclaragenomics

#581 [cudapoa] Unify NW kernels
  cudapoa/include/claraparabricks/genomeworks/cudapoa/cudapoa.hpp
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/allocate_block.hpp
  cudapoa/src/application_parameters.cpp
  cudapoa/src/batch.cu
  cudapoa/src/cudapoa_batch.cuh
  cudapoa/src/cudapoa_kernels.cuh
  cudapoa/src/cudapoa_nw.cuh
  cudapoa/src/cudapoa_nw_adaptive_banded.cuh
  cudapoa/src/cudapoa_nw_banded.cuh
  cudapoa/src/cudapoa_nw_tb_banded.cuh
  cudapoa/src/cudapoa_structs.cuh
Labels: cudapoa, enhancement

#596 [cudaaligner]: Fix cmake for cudaaligner optimization flag
  cudaaligner/CMakeLists.txt
Labels: cudaaligner

#598 [cudapoa] Update cudapoa to use DeviceAllocator
  common/base/include/claraparabricks/genomeworks/utils/device_preallocated_allocator.cuh
  cudapoa/benchmarks/multi_batch.hpp
  cudapoa/include/claraparabricks/genomeworks/cudapoa/batch.hpp
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/allocate_block.hpp
  cudapoa/src/batch.cu
  cudapoa/src/cudapoa_batch.cuh
  cudapoa/src/main.cpp
  cudapoa/tests/Test_CudapoaSerializeGraph.cpp
Labels: cudapoa

#602 [common] DevicePreallocatedAllocator allocates exactly the amount of memory requested, not more
  common/base/include/claraparabricks/genomeworks/utils/allocator.hpp
  common/base/include/claraparabricks/genomeworks/utils/device_buffer.hpp
  common/base/include/claraparabricks/genomeworks/utils/device_preallocated_allocator.cuh
  common/base/include/claraparabricks/genomeworks/utils/mathutils.hpp
  common/base/tests/CMakeLists.txt
  common/base/tests/Test_DevicePreallocatedAllocator.cu
Labels: sdk
