Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-02, with the labels that each got.

#288 [cudamapper] Index provides helper functions for smallest and largest read_id in it
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/src/index_gpu.cuh
  cudamapper/tests/Test_CudamapperIndexGPU.cu
Labels: cudamapper, enhancement

#287 [cga] sort_by_two_keys
  common/utils/include/claragenomics/utils/cudasort.cuh
  common/utils/include/claragenomics/utils/mathutils.hpp
  common/utils/tests/CMakeLists.txt
  common/utils/tests/Test_UtilsCudasort.cu
Labels: enhancement, sdk

#285 [cudamapper] Cached allocator to manage device memory allocations
  CMakeLists.txt
  common/utils/include/claragenomics/utils/allocator.hpp
  common/utils/include/claragenomics/utils/buffer.hpp
  common/utils/include/claragenomics/utils/cudautils.hpp
  common/utils/include/claragenomics/utils/device_buffer.hpp
  common/utils/include/claragenomics/utils/host_buffer.hpp
  cudamapper/CMakeLists.txt
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/include/claragenomics/cudamapper/matcher.hpp
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/include/claragenomics/cudamapper/types.hpp
  cudamapper/src/index.cu
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/main.cu
  cudamapper/src/matcher.cu
  cudamapper/src/matcher_gpu.cu
  cudamapper/src/matcher_gpu.cuh
  cudamapper/src/minimizer.cu
  cudamapper/src/minimizer.hpp
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperMatcherGPU.cu
  cudamapper/tests/Test_CudamapperMinimizer.cpp
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
  cudamapper/tests/mock_index.cuh
Labels: cudamapper, enhancement, sdk

#290 [cudamapper] Sort anchors using CUB's radix sort
  common/utils/include/claragenomics/utils/cudasort.cuh
  common/utils/tests/Test_UtilsCudasort.cu
  cudamapper/src/matcher_gpu.cu
  cudamapper/src/matcher_gpu.cuh
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/tests/Test_CudamapperMatcherGPU.cu
  cudamapper/tests/mock_index.cuh
Labels: cudamapper, enhancement, sdk

#293 [cudamapper] Sort anchors using CUB's radix sort #2
  common/utils/include/claragenomics/utils/cudasort.cuh
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/src/matcher_gpu.cu
  cudamapper/src/matcher_gpu.cuh
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
Labels: cudamapper, sdk

#294 [cudamapper] No temporary representations in Index
  cudamapper/src/index_gpu.cuh
Labels: cudamapper

#295 Host cache for indexer
  cudamapper/CMakeLists.txt
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/src/host_cache.cu
  cudamapper/src/host_cache.cuh
  cudamapper/src/index.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/main.cu
Labels: cudamapper, enhancement

#296 [cga][cudamapper] STL-like allocator and buffer, helper arrays also allocated using custom allocators
  common/utils/include/claragenomics/utils/allocator.hpp
  common/utils/include/claragenomics/utils/buffer.hpp
  common/utils/include/claragenomics/utils/cudasort.cuh
  common/utils/include/claragenomics/utils/device_buffer.hpp
  common/utils/tests/Test_UtilsCudasort.cu
  cudamapper/CMakeLists.txt
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/include/claragenomics/cudamapper/matcher.hpp
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/src/host_cache.cu
  cudamapper/src/host_cache.cuh
  cudamapper/src/index.cu
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/main.cu
  cudamapper/src/matcher.cu
  cudamapper/src/matcher_gpu.cu
  cudamapper/src/matcher_gpu.cuh
  cudamapper/src/minimizer.cu
  cudamapper/src/minimizer.hpp
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperMatcherGPU.cu
  cudamapper/tests/Test_CudamapperMinimizer.cpp
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
  cudamapper/tests/mock_index.cuh
Labels: cudamapper, enhancement, sdk

#297 [cudamapper] Overlapper gaps
  cudamapper/CMakeLists.txt
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/src/main.cu
  cudamapper/src/overlapper.cpp
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
Labels: cudamapper, enhancement
