Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-07, with the labels that each got.

#480 [cudamapper] Passing correct parser to print_paf()
  cudamapper/src/main.cu
Labels: bug, cudamapper

#482 [cudapoa] Fixes bug with multiple fasta logic
  cudapoa/benchmarks/multi_batch.hpp
  cudapoa/benchmarks/single_batch.hpp
  cudapoa/include/claraparabricks/genomeworks/cudapoa/utils.hpp
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/main.cpp
Labels: cudapoa

#478 [cudamapper] Change default parameters for -w, -F, -r, -b, and -z.
  cudamapper/src/application_parameters.cpp
  cudamapper/src/application_parameters.hpp
Labels: accuracy, cudamapper

#484 [cudapoa] added missing band-width parameter to create Bat…
  cudapoa/src/utils.cu
Labels: bug, cudapoa

#486 [CI] Remove PyPI username from twine command
  ci/release/pypi_uploader.sh
Labels: CI

#492 [SDK] Copy license to pygenomeworks folder before pip executes setup()
  pygenomeworks/setup.py
Labels: bug

#493 [cudamapper] Skip index pair which cause OOM errors
  cudamapper/src/main.cu
Labels: cudamapper

#498 [ci] check-style: Changed diff format and show whitespace changes in …
  cmake/Format.cmake
Labels: CI, enhancement

#500 [ci] check-style: fixed 00db5134
  cmake/Format.cmake
Labels: CI

#501 [ci] formatting: Do not sort using statements
  .clang-format
Labels: CI

#497 [cudaaligner] fixes for banded Myers
  cudaaligner/src/myers_gpu.cu
  cudaaligner/src/myers_gpu.cuh
  cudaaligner/tests/CMakeLists.txt
  cudaaligner/tests/Test_MyersAlgorithm.cpp
  cudaaligner/tests/Test_MyersAlgorithm.cu
  cudaaligner/tests/cudaaligner_test_cases.cpp
Labels: bug, cudaaligner

#510 [cudamapper] Add create_overlapper function to instantiate overlapper object
  cudamapper/include/claraparabricks/genomeworks/cudamapper/overlapper.hpp
  cudamapper/src/main.cu
  cudamapper/src/overlapper.cpp
Labels: cudamapper

#511 [common] misc improvements
  common/base/include/claraparabricks/genomeworks/gw_config.hpp
  common/base/include/claraparabricks/genomeworks/utils/allocator.hpp
  common/base/include/claraparabricks/genomeworks/utils/device_preallocated_allocator.cuh
  common/base/include/claraparabricks/genomeworks/utils/genomeutils.hpp
  cudaaligner/src/aligner_global_myers.cpp
Labels: cudaaligner, enhancement, sdk

#506 [cudamapper] Fasta index ids
  cudamapper/include/claraparabricks/genomeworks/cudamapper/overlapper.hpp
  cudamapper/src/main.cu
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
Labels: bug, cudamapper

#512 [cudaaligner] Rearranging code in Test_AlignerGlobal.cpp
  cudaaligner/tests/Test_AlignerGlobal.cpp
Labels: cudaaligner

#513 [cudaaligner] banded myers with fixed bandwidth and low memory requirements
  common/base/include/claraparabricks/genomeworks/utils/pinned_host_vector.hpp
  cudaaligner/benchmarks/main.cpp
  cudaaligner/include/claraparabricks/genomeworks/cudaaligner/aligner.hpp
  cudaaligner/src/aligner.cpp
  cudaaligner/src/aligner_global.cpp
  cudaaligner/src/aligner_global.hpp
  cudaaligner/src/aligner_global_myers_banded.cpp
  cudaaligner/src/aligner_global_myers_banded.hpp
  cudaaligner/src/batched_device_matrices.cuh
  cudaaligner/src/hirschberg_myers_gpu.cu
  cudaaligner/src/myers_gpu.cu
  cudaaligner/src/myers_gpu.cuh
  cudaaligner/tests/CMakeLists.txt
  cudaaligner/tests/Test_AlignerGlobal.cpp
  cudaaligner/tests/Test_ApproximateBandedMyers.cpp
Labels: cudaaligner, enhancement

#515 [cudaaligner] alignment object extensions
  cudaaligner/include/claraparabricks/genomeworks/cudaaligner/alignment.hpp
  cudaaligner/src/aligner_global.cpp
  cudaaligner/src/aligner_global_myers_banded.cpp
  cudaaligner/src/alignment_impl.cpp
  cudaaligner/src/alignment_impl.hpp
  cudaaligner/tests/Test_AlignerGlobal.cpp
  cudaaligner/tests/Test_AlignmentImpl.cpp
  cudaaligner/tests/Test_ApproximateBandedMyers.cpp
Labels: cudaaligner, enhancement

#518 [cudaaligner] Extended test and fixed a bug in approximate banded Myers
  cudaaligner/src/myers_gpu.cu
  cudaaligner/tests/Test_ApproximateBandedMyers.cpp
Labels: bug, cudaaligner

#508 [cudamapper] cudaMapper sample application
  cudamapper/CMakeLists.txt
  cudamapper/data/covid-reads.fasta.gz
  cudamapper/samples/CMakeLists.txt
  cudamapper/samples/sample_cudamapper.cpp
  cudamapper/src/main.cu
Labels: cudamapper

#507 [cudamapper] Do not apply minimizer frequency filtering by default when overlapping very few reads
  cudamapper/src/application_parameters.cpp
  cudamapper/src/application_parameters.hpp
Labels: cudamapper
