Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-08, with the labels that each got.

#520 [cudamapper] Move print_paf() to public interface
  cudamapper/CMakeLists.txt
  cudamapper/include/claraparabricks/genomeworks/cudamapper/utils.hpp
  cudamapper/samples/sample_cudamapper.cpp
  cudamapper/src/cudamapper_utils.cpp
  cudamapper/src/cudamapper_utils.hpp
  cudamapper/src/main.cu
  cudamapper/src/utils.cpp
Labels: cudamapper

#519 [cudapoa] modified adaptive banded alignment
  cudapoa/benchmarks/multi_batch.hpp
  cudapoa/benchmarks/single_batch.hpp
  cudapoa/include/claraparabricks/genomeworks/cudapoa/batch.hpp
  cudapoa/include/claraparabricks/genomeworks/cudapoa/cudapoa.hpp
  cudapoa/include/claraparabricks/genomeworks/cudapoa/utils.hpp
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/allocate_block.hpp
  cudapoa/src/application_parameters.cpp
  cudapoa/src/application_parameters.hpp
  cudapoa/src/batch.cu
  cudapoa/src/cudapoa_add_alignment.cuh
  cudapoa/src/cudapoa_batch.cuh
  cudapoa/src/cudapoa_generate_consensus.cuh
  cudapoa/src/cudapoa_generate_msa.cuh
  cudapoa/src/cudapoa_kernels.cuh
  cudapoa/src/cudapoa_limits.hpp
  cudapoa/src/cudapoa_nw_adaptive_banded.cuh
  cudapoa/src/cudapoa_nw_banded.cuh
  cudapoa/src/cudapoa_structs.cuh
  cudapoa/src/cudapoa_topsort.cuh
  cudapoa/src/main.cpp
  cudapoa/src/utils.cu
  cudapoa/tests/Test_CudapoaAddAlignment.cu
  cudapoa/tests/Test_CudapoaBatch.cu
  cudapoa/tests/Test_CudapoaGenerateConsensus.cu
  cudapoa/tests/Test_CudapoaGenerateMSA2.cu
  cudapoa/tests/Test_CudapoaNW.cu
  cudapoa/tests/Test_CudapoaSerializeGraph.cpp
  pygenomeworks/README.md
  pygenomeworks/genomeworks/cudapoa/cudapoa.pxd
  pygenomeworks/genomeworks/cudapoa/cudapoa.pyx
Labels: cudapoa

#475 [common] Introduced CudaStream an RAII class to wrap cuda streams
  common/base/include/claraparabricks/genomeworks/utils/cudautils.hpp
  cudaaligner/benchmarks/main.cpp
  cudaaligner/src/myers_gpu.cu
  cudaaligner/tests/Test_MyersAlgorithm.cu
  cudamapper/src/main.cu
  cudamapper/tests/Test_CudamapperIndexCache.cu
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperMatcherGPU.cu
  cudamapper/tests/Test_CudamapperMinimizer.cpp
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
  cudapoa/benchmarks/multi_batch.hpp
  cudapoa/benchmarks/single_batch.hpp
Labels: sdk

#544 [cudamapper] Moved cudaStreamSynchronize for merged_basepairs_h after the call to SketchElementImpl::generate_sketch_elements()
  cudamapper/src/index_gpu.cuh
Labels: cudamapper

#546 [cudamapper] Added NVTX ranges and removed allocation logging from IndexGPU and Matcher
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/minimizer.cu
Labels: cudamapper
