Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-06, with the labels that each got.

#445 [cudamapper] Display version information...
  CMakeLists.txt
  cmake/GitVersion.cmake
  common/base/include/claragenomics/version.hpp
  common/base/src/version.cpp.in
  cudamapper/CMakeLists.txt
  cudamapper/src/main.cu
Labels: cudamapper

#439 [CI] Wheel file creation changes for PyPI
  ci/common/test-pyclaragenomics.sh
  ci/release/pypi_uploader.sh
  pyclaragenomics/setup.py
  pyclaragenomics/setup_pyclaragenomics.py
Labels: CI

#449 [cudapoa] Member type and size unification
  cudapoa/include/claragenomics/cudapoa/batch.hpp
  cudapoa/src/allocate_block.hpp
  cudapoa/src/cudapoa_batch.hpp
  cudapoa/src/cudapoa_kernels.cu
  cudapoa/tests/Test_CudapoaGenerateConsensus.cpp
  cudapoa/tests/Test_CudapoaGenerateMSA2.cpp
  pyclaragenomics/claragenomics/bindings/cudapoa.pxd
  pyclaragenomics/claragenomics/bindings/cudapoa.pyx
Labels: cudapoa, enhancement

#437 [cudamapper] Using new index cache
  cudamapper/CMakeLists.txt
  cudamapper/src/application_parameters.cpp
  cudamapper/src/application_parameters.hpp
  cudamapper/src/cudamapper_utils.cpp
  cudamapper/src/cudamapper_utils.hpp
  cudamapper/src/main.cu
Labels: cudamapper

#453 [cudamapper] Modify fusion code to be more like minimap2
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/src/application_parameters.cpp
  cudamapper/src/application_parameters.hpp
  cudamapper/src/main.cu
  cudamapper/src/overlapper.cpp
  cudamapper/tests/Test_CudamapperOverlapper.cpp
Labels: cudamapper

#456 [cudamapper] Correct assert in print_paf()
  cudamapper/src/cudamapper_utils.cpp
  cudamapper/src/cudamapper_utils.hpp
  cudamapper/src/main.cu
Labels: bug, cudamapper

#452 [common] Simplified buffer
  common/base/include/claragenomics/utils/allocator.hpp
  common/base/include/claragenomics/utils/buffer.hpp
  common/base/include/claragenomics/utils/cudasort.cuh
  common/base/include/claragenomics/utils/device_buffer.hpp
  common/base/include/claragenomics/utils/device_preallocated_allocator.cuh
  common/base/include/claragenomics/utils/host_buffer.hpp
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/matcher_gpu.cu
  cudamapper/src/overlapper_triggered.cu
Labels: cudamapper, sdk

#455 [cudamapper] Not storing nullptr to host index cache when skip_copy_to_host is set
  cudamapper/src/index_cache.cu
Labels: cudamapper

#462 [pycga] remove quast and python tool wrappers
  ci/common/prep-init-env.sh
  pyclaragenomics/README.md
  pyclaragenomics/bin/assembly_evaluator
  pyclaragenomics/claragenomics/wrappers/__init__.py
  pyclaragenomics/claragenomics/wrappers/wrappers.py
  pyclaragenomics/requirements.txt
  pyclaragenomics/setup.py
  pyclaragenomics/test/test_wrappers.py
Labels: pyclaragenomics

#465 [tests] re-enable C++ tests
  ci/common/build-test-sdk.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: CI

#464 [cudapoa] Multi-batch binning
  common/base/include/claragenomics/utils/genomeutils.hpp
  cudapoa/CMakeLists.txt
  cudapoa/benchmarks/common/utils.hpp
  cudapoa/include/claragenomics/cudapoa/batch.hpp
  cudapoa/include/claragenomics/cudapoa/utils.hpp
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/allocate_block.hpp
  cudapoa/src/cudapoa_limits.hpp
  cudapoa/src/utils.cu
  pyclaragenomics/claragenomics/bindings/cudapoa.pyx
Labels: cudapoa, enhancement

#450 Re-adjust filters value applied to PAF output...
  cudamapper/src/application_parameters.hpp
  cudamapper/src/overlapper_triggered.cu
Labels: cudamapper

#474 WIP - [pygw] fix intermittent test bug
  pygenomeworks/test/test_cudaaligner_bindings.py
Labels: bug

#463 [cudamapper] Support from multiple associated streams
  common/base/include/claraparabricks/genomeworks/utils/allocator.hpp
  common/base/include/claraparabricks/genomeworks/utils/device_buffer.hpp
  common/base/include/claraparabricks/genomeworks/utils/device_preallocated_allocator.cuh
Labels: sdk

#479 [CI] Upload to production PyPI server
  ci/release/pypi_uploader.sh
Labels: CI
