Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-09, with the labels that each got.

#550 [cudamapper] IndexGPU correctly skips too short reads and does not copy basepairs twice
  cudamapper/src/index_gpu.cuh
  cudamapper/tests/Test_CudamapperIndexGPU.cu
Labels: cudamapper

#536 [cudamapper] Create public interface for IndexDescriptor class
  cudamapper/include/claraparabricks/genomeworks/cudamapper/index.hpp
  cudamapper/include/claraparabricks/genomeworks/cudamapper/utils.hpp
  cudamapper/samples/sample_cudamapper.cpp
  cudamapper/src/index_batcher.cu
  cudamapper/src/index_batcher.cuh
  cudamapper/src/index_cache.cuh
  cudamapper/src/index_descriptor.cpp
  cudamapper/src/index_descriptor.hpp
  cudamapper/src/utils.cpp
  cudamapper/tests/Test_CudamapperIndexDescriptor.cpp
Labels: cudamapper

#553 [cudaaligner] fixed an integer overflow
  cudaaligner/src/batched_device_matrices.cuh
Labels: cudaaligner

#552 [cudapoa] improving cudaPOA performance
  cudapoa/include/claraparabricks/genomeworks/cudapoa/batch.hpp
  cudapoa/include/claraparabricks/genomeworks/cudapoa/utils.hpp
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/allocate_block.hpp
  cudapoa/src/application_parameters.cpp
  cudapoa/src/application_parameters.hpp
  cudapoa/src/batch.cu
  cudapoa/src/cudapoa_add_alignment.cuh
  cudapoa/src/cudapoa_batch.cuh
  cudapoa/src/cudapoa_generate_consensus.cuh
  cudapoa/src/cudapoa_generate_msa.cuh
  cudapoa/src/cudapoa_kernels.cuh
  cudapoa/src/cudapoa_nw.cuh
  cudapoa/src/cudapoa_nw_adaptive_banded.cuh
  cudapoa/src/cudapoa_nw_banded.cuh
  cudapoa/src/cudapoa_structs.cuh
  cudapoa/src/cudapoa_topsort.cuh
  cudapoa/src/main.cpp
  cudapoa/src/utils.cu
  cudapoa/tests/Test_CudapoaAddAlignment.cu
  cudapoa/tests/Test_CudapoaBatch.cu
  cudapoa/tests/Test_CudapoaGenerateMSA2.cu
  cudapoa/tests/Test_CudapoaNW.cu
  pygenomeworks/samples/sample_cudapoa
  pygenomeworks/test/test_cudapoa_bindings.py
Labels: cudapoa, enhancement

#549 [cudamapper] Let create_index() accept an IndexDescriptor
  cudamapper/include/claraparabricks/genomeworks/cudamapper/index.hpp
  cudamapper/samples/sample_cudamapper.cpp
  cudamapper/src/index.cu
  cudamapper/src/index_cache.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperMatcherGPU.cu
  cudamapper/tests/mock_index.cuh
Labels: cudamapper

#562 [pygenomeworks] Fix counts of incorrect starts and ends in evaluate_paf
  pygenomeworks/bin/evaluate_paf
Labels: pyclaragenomics

#561 [common] Fixed a compiler warnings and a problem with CUDA 11
  CMakeLists.txt
  ci/common/build-test-sdk.sh
  common/base/CMakeLists.txt
  common/base/include/claraparabricks/genomeworks/utils/graph.hpp
  common/base/src/graph.cpp
  pygenomeworks/setup_pygenomeworks.py
Labels: sdk
