Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-12, with the labels that each got.

#599 [docs]: Update readme to include automake for building
  README.md
Labels: documentation

#606 [cudapoa] adding new tests for different banding modes in NW
  cudapoa/src/cudapoa_add_alignment.cuh
  cudapoa/src/cudapoa_kernels.cuh
  cudapoa/src/cudapoa_nw.cuh
  cudapoa/src/cudapoa_nw_banded.cuh
  cudapoa/src/cudapoa_nw_tb_banded.cuh
  cudapoa/tests/Test_CudapoaAddAlignment.cu
  cudapoa/tests/Test_CudapoaGenerateConsensus.cu
  cudapoa/tests/Test_CudapoaGenerateMSA2.cu
  cudapoa/tests/Test_CudapoaNW.cu
  cudapoa/tests/Test_CudapoaTopSort.cu
  cudapoa/tests/basic_graph.hpp
  cudapoa/tests/sorted_graph.hpp
Labels: CI, cudapoa

#612 [cudaaligner] Fixed a bug in approximate alignment backtrace
  cudaaligner/src/myers_gpu.cu
  cudaaligner/tests/Test_ApproximateBandedMyers.cpp
Labels: cudaaligner

#613 [cudapoa] check to ensure not all the base weights are zero
  cudapoa/include/claraparabricks/genomeworks/cudapoa/cudapoa.hpp
  cudapoa/src/cudapoa.cpp
  cudapoa/src/cudapoa_batch.cuh
Labels: cudapoa, enhancement
