Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-03, with the labels that each got.

#298 [cudamapper] move filtering to GPU
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/src/main.cu
  cudamapper/src/overlapper.cpp
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
Labels: cudamapper, enhancement

#310 [cudamapper] remove HTS parser, add minimum sequence length to kseqpp parser
  README.md
  common/io/CMakeLists.txt
  common/io/include/claragenomics/io/fasta_parser.hpp
  common/io/src/fasta_parser.cpp
  common/io/src/hts_fasta_parser.cpp
  common/io/src/hts_fasta_parser.hpp
  common/io/src/kseqpp_fasta_parser.cpp
  common/io/src/kseqpp_fasta_parser.hpp
  cudamapper/src/main.cu
Labels: bug, cudamapper, enhancement

#313 [cudamapper] Call cudaSetDevice() for writer thread
  common/utils/include/claragenomics/utils/allocator.hpp
  common/utils/include/claragenomics/utils/cudautils.hpp
  cudamapper/src/main.cu
Labels: bug, cudamapper, sdk

#316 [cga] Preallocating device allocator
  CMakeLists.txt
  common/utils/include/claragenomics/utils/allocator.hpp
  common/utils/include/claragenomics/utils/device_buffer.hpp
  common/utils/include/claragenomics/utils/device_preallocated_allocator.cuh
  cudamapper/CMakeLists.txt
  cudamapper/src/main.cu
Labels: cudamapper, enhancement, sdk

#320 [cudamapper] Use custom stream
  cmake/CUDA.cmake
  common/utils/include/claragenomics/utils/cudasort.cuh
  common/utils/tests/Test_GenomeUtils.cpp
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/include/claragenomics/cudamapper/matcher.hpp
  cudamapper/src/host_cache.cu
  cudamapper/src/host_cache.cuh
  cudamapper/src/index.cu
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/main.cu
  cudamapper/src/matcher.cu
  cudamapper/src/matcher_gpu.cu
  cudamapper/src/matcher_gpu.cuh
  cudamapper/src/minimizer.cu
  cudamapper/src/minimizer.hpp
  cudamapper/src/overlapper.cpp
  cudamapper/src/overlapper_triggered.cu
  cudamapper/src/overlapper_triggered.hpp
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperMatcherGPU.cu
  cudamapper/tests/Test_CudamapperMinimizer.cpp
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
Labels: cudamapper, enhancement, sdk

#328 Fixes for cudamapper
  common/io/CMakeLists.txt
  common/io/src/kseqpp_fasta_parser.cpp
  common/utils/include/claragenomics/utils/buffer.hpp
  common/utils/include/claragenomics/utils/device_preallocated_allocator.cuh
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/main.cu
Labels: bug, cudamapper

#331 [common] minor fixes
  common/utils/include/claragenomics/utils/allocator.hpp
  common/utils/include/claragenomics/utils/buffer.hpp
  common/utils/include/claragenomics/utils/device_preallocated_allocator.cuh
Labels: sdk

#333 [common] Added a device_memory_allocation_exception
  common/utils/include/claragenomics/utils/allocator.hpp
  common/utils/include/claragenomics/utils/exceptions.hpp
Labels: enhancement

#330 [cudamapper] Reorganization of main.cu
  cudamapper/src/main.cu
Labels: bug, cudamapper, enhancement

#337 [cudamapper] Renamed HostCache to IndexHostCopy
  cudamapper/CMakeLists.txt
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/src/index.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/index_host_copy.cu
  cudamapper/src/index_host_copy.cuh
  cudamapper/src/main.cu
Labels: cudamapper
