Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-05, with the labels that each got.

#404 [cga] Removed support for cub::CachingDeviceAllocator
  CMakeLists.txt
  common/base/CMakeLists.txt
  common/base/include/claragenomics/utils/allocator.hpp
  common/base/include/claragenomics/utils/device_buffer.cuh
  common/base/include/claragenomics/utils/device_buffer.hpp
  cudamapper/src/main.cu
Labels: sdk

#397 [cudapoa] changing variables related to dimension of POA arrays from uint16_t to template type
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/allocate_block.hpp
  cudapoa/src/batch.cpp
  cudapoa/src/cudapoa_add_alignment.cu
  cudapoa/src/cudapoa_batch.hpp
  cudapoa/src/cudapoa_generate_consensus.cu
  cudapoa/src/cudapoa_generate_msa.cu
  cudapoa/src/cudapoa_kernels.cu
  cudapoa/src/cudapoa_kernels.cuh
  cudapoa/src/cudapoa_nw.cu
  cudapoa/src/cudapoa_nw_banded.cu
  cudapoa/src/cudapoa_topsort.cu
  cudapoa/tests/Test_CudapoaAddAlignment.cpp
  cudapoa/tests/Test_CudapoaGenerateConsensus.cpp
  cudapoa/tests/Test_CudapoaNW.cpp
  cudapoa/tests/Test_CudapoaTopSort.cpp
  cudapoa/tests/basic_graph.hpp
  cudapoa/tests/sorted_graph.hpp
Labels: cudapoa, enhancement

#403 [cudapoa] changed heuristics to estimate maximum POAs in a batch
  cudapoa/include/claragenomics/cudapoa/cudapoa.hpp
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/allocate_block.hpp
  cudapoa/src/cudapoa_batch.hpp
  pyclaragenomics/claragenomics/bindings/cudapoa.pxd
  pyclaragenomics/claragenomics/bindings/cudapoa.pyx
Labels: bug, cudapoa, enhancement

#332 [CI] Support auto release job
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/local/build.sh
  ci/local/prebuild.sh
  ci/release/pypi_uploader.sh
  ci/release/update-version.sh
  pyclaragenomics/setup.py
Labels: CI

#362 [pyclaragenomics] Add minimal setuptools version
  pyclaragenomics/requirements.txt
Labels: bug, pyclaragenomics

#401 [pycga] update cudapoa sample to use long read data
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/cudapoa_batch.hpp
  cudapoa/tests/Test_CudapoaBatch.cpp
  pyclaragenomics/claragenomics/bindings/cudapoa.pxd
  pyclaragenomics/claragenomics/bindings/cudapoa.pyx
  pyclaragenomics/samples/sample_cudapoa
Labels: cudapoa, pyclaragenomics

#415 Fixed a typo in `print_paf` function.
  cudamapper/src/overlapper.cpp
Labels: bug, cudamapper

#417 [CI] Fix PyPI upload command
  ci/release/pypi_uploader.sh
Labels: CI

#420 [cuapoa] bug fixes related to changing type to int32_t
  common/base/include/claragenomics/utils/limits.cuh
  cudapoa/CMakeLists.txt
  cudapoa/src/cudapoa_add_alignment.cu
  cudapoa/src/cudapoa_generate_consensus.cu
  cudapoa/src/cudapoa_generate_msa.cu
  cudapoa/src/cudapoa_kernels.cu
  cudapoa/src/cudapoa_kernels.cuh
  cudapoa/src/cudapoa_nw.cu
  cudapoa/src/cudapoa_nw_banded.cu
  cudapoa/src/cudapoa_topsort.cu
  cudapoa/tests/Test_CudapoaAddAlignment.cpp
Labels: bug, cudapoa

#423 [cudapoa] fix for Error code 8
  cudapoa/src/cudapoa_nw_banded.cu
Labels: bug, cudapoa

#426 [cudamapper] Improved PAF output
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/include/claragenomics/cudamapper/types.hpp
  cudamapper/src/cudamapper_utils.cpp
  cudamapper/src/cudamapper_utils.hpp
  cudamapper/src/main.cu
  cudamapper/src/overlapper.cpp
  cudamapper/src/overlapper_triggered.cu
  cudamapper/tests/Test_CudamapperOverlapperTriggered.cu
Labels: cudamapper, enhancement

#432 [cudamapper] Added skip_copy_to_host to IndexCacheHost
  cudamapper/src/index_cache.cu
  cudamapper/src/index_cache.cuh
Labels: cudamapper

#422 [cudamapper] Overlap end rescue via similarity estimation
  common/base/include/claragenomics/types.hpp
  cudamapper/include/claragenomics/cudamapper/overlapper.hpp
  cudamapper/src/cudamapper_utils.cpp
  cudamapper/src/cudamapper_utils.hpp
  cudamapper/src/main.cu
  cudamapper/src/overlapper.cpp
  cudamapper/tests/CMakeLists.txt
  cudamapper/tests/Test_CudamapperOverlapper.cpp
  cudamapper/tests/Test_CudamapperUtilsKmerFunctions.cpp
Labels: cudamapper

#438 [CI] Enable PyPI upload in GPU jobs
  ci/gpu/build.sh
Labels: CI

#444 [cudapoa] variable bandwidth
  cudapoa/include/claragenomics/cudapoa/batch.hpp
  cudapoa/src/allocate_block.hpp
  cudapoa/src/cudapoa_batch.hpp
  cudapoa/src/cudapoa_generate_consensus.cu
  cudapoa/src/cudapoa_kernels.cu
  cudapoa/src/cudapoa_kernels.cuh
  cudapoa/src/cudapoa_nw_banded.cu
  pyclaragenomics/claragenomics/bindings/cudapoa.pxd
  pyclaragenomics/claragenomics/bindings/cudapoa.pyx
Labels: cudapoa, enhancement
