Repository clara-parabricks/GenomeWorks, pull requests merged in 2020-01, with the labels that each got.

#280 [cudamapper] removed merge_n_sorted_vectors
  cudamapper/src/cudamapper_utils.hpp
Labels: cudamapper, enhancement

#279 [cudamapper] Get the length of the longest read
  cudamapper/include/claragenomics/cudamapper/index.hpp
  cudamapper/src/index_gpu.cuh
  cudamapper/src/minimizer.cu
  cudamapper/src/minimizer.hpp
  cudamapper/tests/Test_CudamapperIndexGPU.cu
  cudamapper/tests/Test_CudamapperMinimizer.cpp
Labels: cudamapper, enhancement

#284 CI: Support conda versions lower than 4.4
  ci/common/prep-init-env.sh
Labels: CI

#282 cudaaligner test improvements
  common/utils/include/claragenomics/utils/genomeutils.hpp
  cudaaligner/src/batched_device_matrices.cuh
  cudaaligner/src/myers_gpu.cu
  cudaaligner/tests/CMakeLists.txt
  cudaaligner/tests/Test_MyersAlgorithm.cpp
  cudaaligner/tests/cudaaligner_test_cases.cpp
  cudaaligner/tests/cudaaligner_test_cases.hpp
Labels: cudaaligner
