Repository clara-parabricks/GenomeWorks, pull requests merged in 2021-01, with the labels that each got.

#618 [cudaaligner] Add support for extended CIGAR
  cudaaligner/include/claraparabricks/genomeworks/cudaaligner/alignment.hpp
  cudaaligner/include/claraparabricks/genomeworks/cudaaligner/cudaaligner.hpp
  cudaaligner/src/alignment_impl.cpp
  cudaaligner/src/alignment_impl.hpp
  cudaaligner/tests/Test_AlignmentImpl.cpp
Labels: cudaaligner, enhancement

#601 Updates to cudaextender ungapped_xdrop kernel
  cudaextender/README.md
  cudaextender/data/sample_scored_segment_pairs.csv
  cudaextender/include/claraparabricks/genomeworks/cudaextender/extender.hpp
  cudaextender/include/claraparabricks/genomeworks/cudaextender/utils.hpp
  cudaextender/samples/sample_cudaextender.cpp
  cudaextender/src/ungapped_xdrop.cu
  cudaextender/src/ungapped_xdrop.cuh
  cudaextender/src/ungapped_xdrop_kernels.cu
  cudaextender/src/ungapped_xdrop_kernels.cuh
Labels: cudaextender

#622 Add missing error checks to avoid silent errors
  common/base/include/claraparabricks/genomeworks/utils/cudautils.hpp
  cudaaligner/src/myers_gpu.cu
  cudaaligner/tests/Test_HirschbergMyers.cu
  cudaaligner/tests/Test_MyersAlgorithm.cu
  cudaextender/src/ungapped_xdrop.cu
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/matcher_gpu.cu
  cudamapper/src/minimizer.cu
Labels: bug, cudaaligner, cudamapper

#623 [cudaaligner] fixed a warning about double->float conversion
  cudaaligner/src/aligner_global_myers_banded.cpp
Labels: cudaaligner

#624 [cudaaligner] Remove limitation of launching max 65535 alignments at once.
  cudaaligner/src/myers_gpu.cu
Labels: bug, cudaaligner
