Repository clara-parabricks/GenomeWorks, pull requests merged in 2021-02, with the labels that each got.

#617 [cmake] unify cmake cxx flags across GW
  CMakeLists.txt
  cmake/CXX.cmake
  cmake/Format.cmake
  common/base/include/claraparabricks/genomeworks/utils/limits.cuh
  common/io/CMakeLists.txt
  cudaaligner/CMakeLists.txt
  cudaaligner/benchmarks/main.cpp
  cudaaligner/samples/sample_cudaaligner.cpp
  cudaaligner/src/myers_gpu.cu
  cudaaligner/tests/Test_ApproximateBandedMyers.cpp
  cudaextender/CMakeLists.txt
  cudamapper/CMakeLists.txt
  cudamapper/samples/sample_cudamapper.cpp
  cudamapper/tests/CMakeLists.txt
  cudapoa/CMakeLists.txt
  cudapoa/benchmarks/main.cpp
  cudapoa/include/claraparabricks/genomeworks/cudapoa/utils.hpp
  cudapoa/samples/sample_cudapoa.cpp
  cudapoa/src/application_parameters.cpp
  cudapoa/src/main.cpp
  cudapoa/tests/Test_CudapoaAddAlignment.cu
Labels: sdk

#628 [cudaaligner] Add aligner.reset_bandwidth(int32_t) to banded Myers aligner
  common/base/include/claraparabricks/genomeworks/utils/limits.cuh
  common/base/include/claraparabricks/genomeworks/utils/pinned_host_vector.hpp
  cudaaligner/src/aligner_global_myers_banded.cpp
  cudaaligner/src/aligner_global_myers_banded.hpp
  cudaaligner/src/batched_device_matrices.cuh
  cudaaligner/src/myers_gpu.cu
Labels: cudaaligner, enhancement

#629 [cudaaligner] Introduce FixedBandAligner interface
  common/base/include/claraparabricks/genomeworks/utils/device_buffer.hpp
  cudaaligner/include/claraparabricks/genomeworks/cudaaligner/aligner.hpp
  cudaaligner/src/aligner.cpp
  cudaaligner/src/aligner_global_myers_banded.cpp
  cudaaligner/src/aligner_global_myers_banded.hpp
  cudaaligner/tests/Test_AlignerGlobal.cpp
Labels: bug, cudaaligner, enhancement

#631 [cudaaligner] Fixed bug in reset_max_bandwidth()
  cudaaligner/src/aligner_global_myers_banded.cpp
Labels: bug, cudaaligner

#632 [cudaaligner] Corrected the memory requirements of Hirschberg-Myers
  cudaaligner/src/aligner_global_hirschberg_myers.cpp
Labels: cudaaligner, enhancement

#636 [cudamapper] Ignore -Wunused-parameter for Thrust
  cudamapper/src/index_gpu.cu
  cudamapper/src/index_gpu.cuh
  cudamapper/src/matcher_gpu.cu
Labels: cudamapper
